.ripple {
  position: fixed;
  border-radius: 50%;
  background-color: rgba(63, 3, 3, 0.7);
  width: 20px;
  height: 20px;
  transform: translate(-50%, -50%); 
  pointer-events: none; 
  animation: ripple-animation 0.5s ease-out; 
  z-index: 9999; 
}
@keyframes ripple-animation {
  0% {
    width: 20px;
    height: 20px;
    opacity: 1;
  }
  100% {
    width: 100px; 
    height: 100px;
    opacity: 0; 
  }
}